<template>
  <div >
    <div >
      <nav-header />
    </div>
<!--    <div class="login-page-login-box-container">-->
<!--      <login />-->
<!--    </div>-->
  </div>
</template>

<script>
// @ is an alias to /src
import NavHeader from "@/components/NavHeader";
// import Login from "@/components/Login";

export default {
  name: "Home",
  components: {
    NavHeader,
    // Login
  }
};
</script>

<style lang="scss" scoped>
.login-page-container {
  width: 100vw;
  height: 100vh;
}
</style>
