<template>
  <div class="login-container">
    <div class="login-box-container">
      <div class="login-box-image-container">
        <img src="@/assets/login-page-advert.png" class="login-box-poster" />
      </div>
      <div class="login-box-form-container">
        <div class="transity-logo-container">
          <img src="@/assets/transity.png" class="login-form-logo" />
        </div>
        <div>
          <h1>
            Hello Admin!, Let's get started
          </h1>
        </div>
        <div class="input-field-container">
          <input class="input-field" type="email" value="email" />
        </div>
        <div class="input-field-container">
          <input class="input-field" type="password" value="password" />
        </div>
        <div class="form-submit-container">
          <button>Sign in</button>
          <button>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login"
};
</script>

<!--<style lang="scss" scoped>-->
<!--.login-container {-->
<!--  background-color: ghostwhite;-->
<!--  width: 100vw;-->
<!--  height: 100vh;-->
<!--  justify-content: center;-->
<!--  align-items: center;-->
<!--  postion: absolute;-->

<!--  .login-box-container {-->
<!--    display: flex;-->
<!--    background-color: gray;-->
<!--    position: relative;-->
<!--    border: 0.1rem solid gray;-->
<!--    border-radius: 1rem;-->
<!--    top: calc(100vh / 4.5);-->
<!--    left: calc(100vw / 10);-->
<!--    max-width: 80vw;-->
<!--    height: calc(100vh / 1.5);-->
<!--    box-sizing: border-box;-->

<!--    .login-box-image-container {-->
<!--      display: flex;-->
<!--      max-width: 50%;-->
<!--      overflow: hidden;-->
<!--      height: 100%;-->
<!--      padding: 5px;-->

<!--      .login-box-poster {-->
<!--        max-width: 100%;-->
<!--        max-height: 100%;-->
<!--        object-fit: cover;-->
<!--      }-->
<!--    }-->

<!--    .login-box-form-container {-->
<!--      display: grid;-->
<!--      /* single column layout */-->
<!--      grid-template-columns: 1fr;-->
<!--      /* have some gap in between elements*/-->
<!--      grid-gap: 3rem;-->
<!--      flex-direction: row;-->
<!--      padding: 10% 5%;-->

<!--      .transity-logo-container {-->
<!--        display: inline-block;-->
<!--        max-width: 100%;-->
<!--        justify-content: center;-->
<!--        align-items: center;-->

<!--        .login-form-logo {-->
<!--          max-width: 75%;-->
<!--          max-height: 5rem;-->
<!--        }-->
<!--      }-->

<!--      .input-field-container {-->
<!--        background-color: lightgrey;-->
<!--        display: flex;-->
<!--        align-items: center;-->
<!--        padding-left: 2rem;-->
<!--        border-radius: 1rem;-->

<!--        &:hover {-->
<!--          background-color: floralwhite;-->
<!--        }-->

<!--        .input-field {-->
<!--          /* customize the input tag with lighter font and some padding*/-->
<!--          color: aliceblue;-->
<!--          background-color: inherit;-->
<!--          width: 90%;-->
<!--          border: none;-->
<!--          font-size: 1.3rem;-->
<!--          font-weight: 400;-->
<!--          padding-left: 30px;-->
<!--        }-->

<!--        .input-field:hover,-->
<!--        .input-field:focus {-->
<!--          outline: none;-->
<!--        }-->
<!--      }-->

<!--      .form-submit-container {-->
<!--      }-->

<!--      input[type="text"] {-->
<!--        width: 80%;-->
<!--        padding: 15px 22px;-->
<!--        margin: 10px 5px;-->
<!--        box-sizing: border-box;-->
<!--      }-->
<!--    }-->

<!--    /* This part is unfinished, it is were the responsiveness can be-->
<!--    *  achieved when the screen size is less than 700px-->
<!--    */-->
<!--    @media screen and (max-width: 700px) {-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</style>-->
