<template>
  <header class="sm:flex sm:justify-between bg-blue-600 sm:px-4 sm:py-2">
    <div class="flex items-center h-24 justify-between px-4 py-2 sm:p-0">
      <div class="">
        <img
          src="../assets/freshFLO.png"
          alt="FreshFLO"
          class="h-24 w-32 p-2"
        />
      </div>
      <div class="sm:hidden">
        <button
          @click="isOpen = !isOpen"
          class="text-white hover:text-white focus:text-white"
        >
          <img
            v-if="!isOpen"
            src="../assets/burger-menu.png"
            alt=""
            class="h-24 w-30 p-2"
          />
          <img
            v-if="isOpen"
            src="../assets/close-menu.png"
            alt=""
            class="h-16 w-30 p-4"
          />
        </button>
      </div>
    </div>
    <div
      :class="isOpen ? 'block' : 'hidden'"
      class="px-2 pb-4 pt-2 sm:flex items-center"
    >
      <a
        href="#"
        class="block px-2 py-1 text-white-500 font-semibold hover:bg-gray-800"
        >Administration</a
      >
      <a
        href="#"
        class="block px-2 py-1 mt-1 text-white-500 font-semibold hover:bg-gray-800 sm:mt-0"
        >Analytics</a
      >
      <a
        href="#"
        class="block px-2 py-1 mt-1 text-white-500 font-semibold hover:bg-gray-800 sm:mt-0"
        >Inventory</a
      >
      <a
        href="#"
        class="block px-2 py-1 mt-1 text-white-500 font-semibold hover:bg-gray-800 sm:mt-0"
        >Logistics</a
      >
      <a
        href="#"
        class="block px-2 py-1 mt-1 text-white-500 font-semibold hover:bg-gray-800 sm:mt-0"
        >Purchase</a
      >
      <a
        href="#"
        class="block px-2 py-1 mt-1 text-white-500 font-semibold hover:bg-gray-800 sm:mt-0"
        >Sales</a
      >
    </div>
  </header>
</template>

<script>
export default {
  name: "NavHeader",
  data() {
    return {
      isOpen: false
    };
  },
  computed: {}
};
</script>
