<template>
  <div id="app">
    <!--    <router-view />-->
    <nav-header />
  </div>
</template>

<style lang="scss">
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}
</style>
<script>
import NavHeader from "./components/NavHeader";
export default {
  components: { NavHeader }
};
</script>
